.procolour {
	color: red;
}

.profile-picture{
	max-width: 100%;
	max-height: 100%;
}
.sq{
	height:400px;

}

.progress-bar {
	height: 100px;
}

.progress-red {
	background-color: red;
}
.progress-green{
	background-color: green;
}
.progress-orange{
	background-color: orange;
}